/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- End of CSS Reset --- */

/* Default, light mode */
body {
  background-color: #d0d0d4;
}
h1 {
  color: #444;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2em;
  line-height: 1.8em;
}
h2, h3, h4 {
  color: #777;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  font-size: 0.8em;
  line-height: 1.6em;
}
h3 {
  font-size: 0.7em;
  line-height: 1.5em;
  margin: 2.0em 0 1.0em 0;
}
h4 {
  font-size: 0.5em;
  line-height: 1.5em;
  margin: 2.0em 0 1.0em 0;
}

a {
  color: #993300;
}
p {
  color: #444;
}
.date {
  color: #444;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #303034;
  }
  h1 {
    color: #888;
  }
  h2 {
    color: #bbb;
  }
  h3 {
    color: #bbb;
  }
  a {
    color: #ff6633;
  }
  hr {
    border-color: #101014;
  }
  p,li {
    color: #ddd;
  }
  .date {
    color: #888;
  }
  code {
    background-color: #111;
    color: #2A2;
    display: block;
    font-family: 'VT323', monospace;
    margin: 1.0em;
    padding: 1.0em;
    width: 100%;
  }
}

.logo-wrap {
  display: inline-block;
  float:left;
}

img {
  height: 54px;
  margin-bottom: 4px;
  margin-right: 10px;
  width: 54px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
}

.post {
  justify-content: left;
}

.post ul,ol {
  list-style: disc;
}

.container-viewport {
  height: 100vh;
}

.content {
  width: 400px;
}

hr {
  border-top-style: hidden;
  border-left-style: hidden;
}

li {
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

p {
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}
