{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <div id="wrap">
      <div class="about-me">
        <div class="pull-right">
          <div class="well">
            {% img mike /images/lego-warning.png 20 20 'Mike' 'images' %}
            <a href="http://about.me/mikedesjardins">about me</a>
          </div>
        </div>
      </div>
      <header role="banner">
        {% include header.html %}
      </header>
      <div id="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </body>
</html>
