@media screen {
  html {
    background-color: #ddd;
    font-size: 16px;
  }

  body {
    background-color: #f8f8f8;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 12px auto;
    max-width: 640px;
    padding: 3rem 5rem;
  }

  a {
    color: #666;
  }

  .print-only {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    padding: 2rem;
  }
}

@media print {
  html {
    font-size: 11px;
  }

  body {
    padding: 1.0rem 5.0rem 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .print-only {
    display: inline-block;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 12px auto;
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.0rem;
  padding-bottom: 1.0rem;
}

h1 {
  margin: 0.5rem 0 0.25rem;
}

section {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.0rem;
}

section h1 {
  border-bottom: 0;
  display: block;
  flex-basis: 150px;
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 0.25rem 0;
}

section h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
}

section h3 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0.33rem 0 0;
}

.employment-period {
  color: #888;
  float: right;
  font-size: 0.8rem;
  font-weight: lighter;
  vertical-align: top;
}

.experience,
.education,
.see-also,
.personal-projects {
  flex-grow: 11;
  width: 320px;
}

ul.see-also {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.experience ul {
  list-style-type: disc;
  padding-left: 1.0em;
}

.project-name {
  font-weight: bold;
}

.project-name:after {
  content: ' \2014';
}
